<hr />
<table>
    <tr>
        <td>Billing Info</td>
        <td style="color: #00ff00;">PROVIDED</td>
        <td><a href="">[UPDATE]</a></td>
    </tr>
    <tr>
        <td>Billing Info</td>
        <td style="color: #ff0000;">NOT PROVIDED</td>
        <td><a href="">[ADD]</a></td>
    </tr>
</table>
<hr />
