<h4>Cart</h4>
<hr />
<table style="width: 100%">
    <tr>
        <td>bigbuy</td>
        <td>1234</td>
        <td>Quantity: 4</td>
        <td>£50.00</td>
        <td><button>Remove</button></td>
    </tr>
</table>

<br />
<button><a href="/shipping-address">Checkout</a></button>
<hr />
