<h4>Products</h4>
<hr />
<table style="width: 100%;">
    <tr>
        <td>bigbuy</td>
        <td>foo</td>
        <td><a href="" target="_blank">VIEW PRODUCT</a></td>
        <td>£4.99</td>
    </tr>
    <tr>
        <td>
            <select>
                <option>foobarbaz</option>
            </select>
        </td>
        <td><span>Quantity: </span><input type="text" placeholder="1" /></td>
        <td><a href="">[CHECK STOCK]</a></td>
        <td><a href="">[VIEW SHIPPING INFO]</a></td>
        <td><button>Add To Cart</button></td>
    </tr>
</table>

<br />
<table class="shipping-info-table" style="width: 100%;">
    <tr>
        <th align="left">Service</th>
        <th align="left">Time</th>
        <th align="left">Cost</th>
    </tr>
    <tr>
        <td>Standard</td>
        <td>4-7 working days</td>
        <td>£12.00</td>
    </tr>
</table>

<br />
<table class="stock-table" style="width: 100%;">
    <tr>
        <td>In Stock</td>
    </tr>
</table>

<br />
<table style="width: 100%;">
    <tr>
        <td>chinavasion</td>
        <td>CVAIA-SM135-White-128GB</td>
        <td><a href="" target="_blank">VIEW PRODUCT</a></td>
        <td>£4.99</td>
    </tr>
    <tr>
        <td>
            <span>Only Option</span>
        </td>
        <td><span>Quantity: </span><input type="text" placeholder="1" /></td>
        <td><a href="">[CHECK STOCK]</a></td>
        <td><a href="">[VIEW SHIPPING INFO]</a></td>
        <td><button>Add To Cart</button></td>
    </tr>
</table>
<hr />
