<h4>Settings</h4>
<hr />
<table>
    <tr>
        <td>
            <span>Country: </span>
            <select>
                <option>United Kingdom</option>
            </select>
        </td>
        <td>
            <span>Currency: </span>
            <select>
                <option>British Pound Sterling</option>
            </select>
        </td>
    </tr>
</table>
<hr />
