<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
        <script src="scripts/jquery.js"></script>
    </head>
    <body>
        <hr />
        <h1>Checkout - Shipping Address</h1>
        <hr />

        <div class="requirements">
            <%- include billing-info.ejs %>
        </div>

        <div class="requirements">
            <%- include vendors-sync.ejs %>
        </div>

        <h4>Shipping Address</h4>
        <hr />
        <form>
            <p>
            <label for="first-name">First name:</label>
            <br />
            <input type="text" name="first-name" />
            </p>
            <p>
            <label for="last-name">Last name:</label>
            <br />
            <input type="text" name="last-name" />
            </p>
            <p>
            <label for="address">Address:</label>
            <br />
            <input type="text" name="address" style="width: 50%;" />
            </p>
            <p>
            <label for="apartment-suite-etc">Apartment, suite, etc (Optional):</label>
            <br />
            <input type="text" name="apartment-suite-etc" style="width: 50%;" />
            </p>
            <p>
            <label for="city">City:</label>
            <br />
            <input type="text" name="city" />
            </p>
            <p>
            <label for="country">Country:</label>
            <br />
            <select name="country">
                <option>United Kingdom</option>
            </select>
            </p>
            <p>
            <label for="postal-code">Postal code:</label>
            <br />
            <input type="text" name="postal-code" />
            </p>
            <p>
            <button><a href="/select-shipping">Next</a></button>
            </p>
        </form>
        <hr />
    </body>
</html>
