<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
        <script src="scripts/jquery.js"></script>
    </head>
    <body>
        <hr />
        <h1>Shopfront</h1>
        <hr />

        <div class="requirements">
            <%- include billing-info.ejs %>
        </div>

        <div class="requirements">
            <%- include vendors-sync.ejs %>
        </div>

        <%- include settings.ejs %>

        <%- include products.ejs %>

        <%- include cart.ejs %>
    </body>
</html>
