<hr />
<table>
    <tr>
        <td>bigbuy</td>
        <td style="color: #00ff00;">SYNCED</td>
        <td><a href="">[RE-SYNC]</a></td>
    </tr>
    <tr>
        <td>bigbuy</td>
        <td style="color: #ff0000;">NOT SYNCED</td>
        <td><a href="">[SYNC]</a></td>
    </tr>
    <tr>
        <td>chinavasion</td>
        <td style="color: #ff0000;">NOT SYNCED</td>
        <td><a href="">[SYNC]</a></td>
    </tr>
</table>

<br />
<table>
    <tr>
        <td><span>Username: </span><input type="text" /></td>
        <td><span>Password: </span><input type="password" /></td>
        <td><button>Sync</button></td>
    </tr>
</table>
<br />
<hr />
